.chat-box {
	background-color: transparent;
	font-size: 16px;
	position: relative;
	overflow: auto;
	p {
        margin: 0;
		white-space: pre-wrap;
		a {
			word-break: break-all;
		}
	}

	ol {
		list-style-type: decimal;
	}

	ul {
		list-style-type: disc;
	}

	pre code,
	pre tt {
		line-height: 1.5;
	}

	.code-block {
		&-wrapper {
			position: relative;
            .code-block-body {
                border-radius: 10px;
            }
		}

	}

	.katex {
		font-size: 1.5em;
	}

	table {
		width: 100%;
		border-top: 1px solid #ddd;
		border-left: 1px solid #ddd;
		margin-top: 10px;
		margin-bottom: 10px;
		border-collapse: collapse;
		thead {
			th {
				border-bottom: 1px solid #ddd;
				border-right: 1px solid #ddd;
				background: #eee;
				padding: 5px 10px;
				text-align: left;
			}
		}
		tbody {
			td {
				border-bottom: 1px solid #ddd;
				border-right: 1px solid #ddd;
				padding: 5px 10px;
			}
		}
	}
}