.chat-box {
	background-color: transparent;
	font-size: 16px;
	position: relative;
	p {
        margin: 0;
		white-space: pre-wrap;
	}

	ol {
		list-style-type: decimal;
	}

	ul {
		list-style-type: disc;
	}

	pre code,
	pre tt {
		line-height: 1.5;
	}

	.code-block {
		&-wrapper {
			position: relative;
            .code-block-body {
                border-radius: 10px;
            }
		}

	}

	.katex {
		font-size: 1.5em;
	}
}